name: Manual LEAF Updater Workflow

on:
  workflow_dispatch:

jobs:
  auto-update:
    runs-on: ubuntu-latest

    services:
      docker:
        image: docker:dind
        options: --privileged

    steps:

      # https://github.com/actions/checkout
      - name: Checkout repository
        uses: actions/checkout@v6

      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # Set up BuildKit Docker container builder to be able to build
      # multi-platform images and export cache
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@d70bba72b1f3fd22344832f00baa16ece964efeb # v3.3.0

      - name: Set user email from actor
        run: |
          GIT_USER_EMAIL="${{ github.actor }}@users.noreply.github.com"
          git config --global user.email "$GIT_USER_EMAIL"
          git config --global user.name "${{ github.actor }}"
          echo "Configured Git with email: $GIT_USER_EMAIL"

      # Build new branch with LEAF updates 
      - name: Run auto update
        run: |
          # bash ./docker/drupal/scripts/auto.sh
          export VIRTUAL_ENV=venv && \
          python -m venv ${VIRTUAL_ENV} && \
          source ${VIRTUAL_ENV}/bin/activate  && \
          python -m pip install python-hcl2 && \
          python -m pip install pyyaml && \
          bash ./docker/drupal/scripts/manual_leaf_update_helper.sh
